p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    line-height: 1.5;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;

}
