* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

ul {
    margin-bottom: 50px;
}


.em-bloco li {
    background: aqua;
    margin-bottom: 10px;
    width: 100px;
}

.em-linha li {
    display: inline;
    background: aqua;
}

.em-linha-e-bloco li {
    background: aqua;
    display: inline-block;
    width: 200px;
    height: 200px;
}

.esconder {
    display: none;
}